  - type: web
    name: youtube-downloader
    env: docker
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 22.9.0
